<% provide(:title, 'Contact') %>

<div class="well">
	<h1>Contact</h1>
		<p>
			<div id="previews" class="dropzone-previews">
				<form action="/file-upload" class="dropzone dz-clickable" id="my-awesome-dropzone">
    		</form>
    	</div>
		</p>
</div>
