<% provide(:title, 'Home') %>

		<% if user_signed_in? %>
		<div class="well">
			<h1>Dashboard</h1>
				<div class="dashboard">
					<div class="dashboard_top">
						<div class="box"><a href="/albums/index">Albums</div>
						<div class="box"><a href="">Seating Chart</div>
						<div class="box"><a href="/guests">Guestlist</div>
						<div class="box"><a href="">Profile</div>
					</div>
					<div class="dashboard_bot">
						<div class="box"></div>
						<div class="box"></div>
						<div class="box"></div>
						<div class="box"></div>
					</div>
				</div>
			</div>
	<% else %>
		<div class="banner">
  		<h1>Welcome to The Wedding App</h1>
  		<h3>This is the homepage for the Wedding Application.</h3>
  		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
		</div>
		<div class="appinfo">
			<div class="dtitle"><h1>Capture</h1></div>
			<div class="dtitle"><h1>Save</h1></div>
			<div class="dtitle"><h1>Share</h1></div>
			<div class="cube"><img src="/assets/camera_icon01.jpeg"></div>
			<div class="cube"><img src="/assets/folder_icon03.jpeg"></div>
			<div class="cube"><img src="/assets/people_icon01.jpg"></div>
			<div class="description"><h6>Guests can access and download photos taken throughout your wedding day.</h6></div>
			<div class="description"><h6>Guests can access and download photos taken throughout your wedding day.</h6></div>
			<div class="description"><h6>Guests can access and download photos taken throughout your wedding day.</h6></div>
		</div>
		<div class="banner">
		</div>


	<% end %>


