@import "bootstrap";


h1 {
	text-align: center;
  font-family: Arizonia;
}

h2 {
  text-align: center;
  font-family: Arizonia;
}

a.fill_div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.navbar-inner {
  background: #e2e2e2; /* Old browsers */
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  min-height: 70px;
  background-color: gray;
  a {
  margin-top: 14px;
  font-size: 22px;
  font-family: Arizonia;
  }
}

.box {
  border: 1px solid gray;
  min-height: 170px;
  min-width: 170px;
  margin: 20px 24px;
  display: inline-block;
  overflow: hidden;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 71px;
  min-height: 260px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* header */

#logo {

  float: left;
  margin-right: 10px;
  font-size: 2.3em;
  color: black;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  padding-top: 9px;
  /*font-weight: bold;*/
  line-height: 1;
  font-family: Arizonia;
}

#logo:hover {
  color: gray;
  text-decoration: none;
}

/* body */

#previews {
  border: 1px solid red;
  min-height: 200px;
  min-width: 200px;
}

.appinfo {
  /*border: 1px solid green;*/
  min-height: 500px;
}

.cube {
  /*border: 1px solid red;*/
  min-height: 218px;
  min-width: 295px;
  margin: 47px 6px 0px 6px;
  display: inline-block;
  img {
    margin-left: 36px;
  }
}

.description {
  border: 1px solid blue;
  display: inline-block;
  min-width: 295px;
  min-height: 200px;
  margin: 0px 6px;
}

.center {
  width: 100%;
  height: 250px;
    h1 {
      margin-top: 25px;
 }
}

.well {
  margin-top: 35px;
}

.info {
  min-height: 300px;
  min-width: 1100px;
  /*border: 1px solid gray;*/
}

.dashboard {
  min-height: 400px;
  min-width: 500px;
}

.main_image {
  width: 100%;
  position: absolute;
}

.hero-unit {
  min-width: 1100px;
  margin-left: -140px;
  display: block;
  margin-top: 25px;
}

/* footer */

footer {
	margin-right: auto;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}